[2017-03-03 20:16] navet56 commented on #2
Normalement c'est bon, compile pour voir

[2017-03-03 20:28] navet56 commented on #2
Après tests c'est bon, bug corrigé

[2017-03-04 11:49] jlppc commented on #2
Source du bug : Fichier audio

[2017-03-04 12:04] jlppc commented on #3
Corrigé : Venait d'une incompatibilité d'encodage

[2017-03-07 11:29] jlppc commented on #6
Bug corrigé

[2017-03-08 13:00] navet56 commented on #3
En fait, cela recommence des que le fichier est modifier via GitHub

[2017-03-09 08:30] jlppc commented on #3
Bug corrigé : 06092ace
Changement de l'encodage d'écriture des dialogues en UTF-8

[2017-03-14 11:46] jlppc commented on #4
Corrigé on ne sait pas comment.

[2017-03-14 11:48] jlppc commented on #7
Bug corrigé

[2017-03-14 16:01] jlppc commented on #8
J'y arrive pas :'-(

[2017-03-14 16:01] jlppc commented on #8
Woops

[2017-03-15 17:35] jlppc commented on #8
c05bb48 : Bug de son corrigé, utilisation des linkers précompilés plutot que ceux que j'ai compilés.

[2017-03-17 12:28] jlppc commented on #10
Corrigé

[2017-03-18 15:18] jlppc commented on #9
Fixé : Bug venant de l'échantillonage

[2017-03-19 14:47] navet56 opened #11 "Baisser la taille du sprite du prof"
Il faut baisser sa taille pour ne pas que les pixels se déforme, il faut lui donner sa taille initial, pas d'agrandissments

[2017-03-19 20:43] jlppc commented on #11
La taille sera changée si besoin, ou il faudra peut-être augmenter la taille du fichier image en lui-même, car le prof est déjà assez petit comme ça. Issue non retenue.

[2017-03-19 20:43] #11 closed

[2017-03-28 18:12] jlppc commented on #12
Repoussement de l'issue

[2017-03-31 11:36] jlppc opened #15 "Ajouter un carré de plage dans Faubourg Euvi"
# Fonctionnalité a améliorer :
Il serait bien d'ajouter un carré de plage!

[2017-03-31 11:47] jlppc commented on #12
Bug corrigé!

[2017-03-31 12:37] jlppc opened #18 "Creer un menu Options"
# Description de l'ajout :
Il faut ajouter un menu Options

[2017-03-31 12:38] jlppc commented on #18
Navet56 : Il faut que tu me fasses le fond du menu.

[2017-03-31 13:45] jlppc commented on #14
@navet56 : Il faut traduire les noms des OpMons en Anglais

[2017-03-31 16:18] jlppc commented on #14
Fait! #20

[2017-03-31 16:19] jlppc commented on #5
Annulé (#17 )

[2017-04-05 07:05] navet56 opened #21 "Creer une animation d'un curseur qui se deplace en 2 frame sur l'entrée du nom"
# Description du bug et explication du moment ou il est survenu:
Creer une animation d'un curseur qui se deplace en 2 frame sur l'entrée du nom
Ce n'est pas compliquer vu que c'est deja codé faut juste baisser la vitesse et le nombres de frames et changer le sprite

[2017-04-07 06:22] #15 closed

[2017-04-10 14:49] jlppc commented on #18
TODO : Creer un fichier animations

[2017-04-22 17:23] jlppc commented on #18
Fonctionalitée finie, plus qu'a attendre le merge du pull request!

[2017-04-22 18:30] jlppc commented on #18
Pull Request fusionée! Ajout du menu options OK!

[2017-04-22 18:30] #18 closed

[2017-04-22 18:31] jlppc commented on #21
Ajout non prévu pour l'instant

[2017-04-22 18:31] #21 closed

[2017-04-24 06:16] navet56 opened #22 "Corriger le bug de la touche M qui fait crasher le jeu"
Le jeu crash en appuyant sur M 2 fois, au lieu de renvoyer au menu

Cela est un bug uniquement sur le systeme Windows

[2017-04-24 09:34] jlppc commented on #22
Bug corrigé!

[2017-04-24 09:34] #22 closed

[2017-04-24 11:32] navet56 commented on #23
Desolé

[2017-05-02 10:46] jlppc commented on #23
Issue fermée temporairement, pour la réouvrir plus tard

[2017-05-08 09:09] jlppc commented on #27
Annulé, pour mieux se concentrer sur le jeu principal

[2017-05-09 11:35] jlppc commented on #26
Si quelqu'un peut participer a résoudre ce bug, je suis preneur.

[2017-05-11 13:34] jlppc commented on #26
Bug corrigé!

[2017-05-11 16:31] navet56 opened #29 "Le personnage ne s'arrête pas de marcher"
Tout est dit, lorsqu'on le fait marcher, il ne s'arrête qu'après avoir appuyé sur la même touche

[2017-05-17 19:53] jlppc commented on #30
Mise en suspention du bug puisqu'il a des chances d'être résolu #31

[2017-05-17 19:54] jlppc commented on #29
Bug mis en suspention du a la possible correction du bug au changement de moteur #31

[2017-05-17 19:54] #29 closed

[2017-05-23 13:41] jlppc commented on #31
Fait!

[2017-05-24 07:20] navet56 commented on #33
Le scrolling est probablement le probleme car cela decalle les collisions, le haut des maisons est trop bas au niveau des collisions et le bas des maisons aussi, par exemple.

[2017-05-25 12:34] navet56 opened #34 "Bug : 2 musiques en même temps en passant l'intro"
# Description du bug et explication du moment ou il est survenu:
Le bug survient uniquement en appuyant sur la touche P pour passer l'introduction, à ce moment là, la musique de l'intro ne s'arrête pas mais la musique de FbgEuvi demarre

[2017-05-29 09:41] jlppc commented on #33
Bug corrigé (Pull request #35)

[2017-05-29 09:47] jlppc commented on #34
Bug corrigé (Pull Request #36 )

[2017-05-29 09:47] #34 closed

[2017-05-29 21:32] jlppc commented on #38
Ce bug a déjà été corrigé avant le post de cette issue.

[2017-05-30 09:11] jlppc commented on #39
Bug corrigé !

[2017-06-05 21:04] jlppc opened #40 "Ajout de "voix" pour les dialogues"
L'idée est de créer des petits fichiers audio de moins d'une seconde correspondant au timbre de la voix du personnage. Bien évidemment, on ne va pas le faire pour tous, mais pour les personnages principaux. Ces petits sons seraient joués durant les dialogues. Un jeu qui utilise tres bien cela est par exemple undertale.

[2017-06-12 12:19] jlppc commented on #41
Bug corrigé : 8fc7c772

[2017-08-02 20:14] navet56 opened #44 "Dialog sound not work all of the time"
﻿

[2017-08-08 09:34] jlppc commented on #44
Bug classed as 4.0004

[2017-08-08 09:37] jlppc commented on #44
The bug may have been fixed with <a href="https://github.com/jlppc/OpMon/commit/b2bf9b">b2bf9b</a>

[2017-08-08 09:38] #44 closed

[2017-08-24 16:50] jlppc opened #48 "The game returns a segmentation fault after ending"
# Bug description:
If you close the game quickly after opening it, it will end with a segmentation fault. Probably because the game's loading is not ended.

[2017-08-24 16:51] jlppc commented on #40
Will probably be added after the fights.

[2017-08-28 15:21] jlppc commented on #48
Classified as a bug : <a href="https://gist.github.com/jlppc/65f35e276842f49ad401966eb761094b#2-0001">2.0001

[2017-09-09 12:07] navet56 opened #1 "The lab's exit teleports to the wrong place"

[2017-09-09 12:16] milkyroute commented on #1
I will fix this.

[2017-09-09 12:22] milkyroute commented on #1
Fixed in e37461b

[2017-09-09 12:22] #1 closed, assigned to milkyroute

[2017-09-11 18:51] BAKFR opened #2 "Organisation des répertoires"
L'objectif est de simplifier le dépot github

Je propose de bouger tout ce qu'il y a dans `src/jlppc/regimys` directement dans `src/`. Le dossier `jlppc` n'apporte rien, le code `utils` restera dans un dossier séparé.

[2017-09-11 18:54] BAKFR opened #3 "Séparation du website et du code du logiciel"
Idéalement, le code HTML et JS contenu dans le dépot devraient être déplacés ailleurs.

[2017-09-11 18:55] BAKFR opened #4 "Renommer le dossier `newGui` en `gui`"
Tout est dans le titre

[2017-09-11 18:57] milkyroute commented on #3
Il n'y a pas de JS dans le dépot, et le index.html a la racine du dépot est nécessaire pour rediriger sur le site (Ce dépot étant hebergé sous downloads.opmon-game.ga). Après, en effet, last.html ne devrait pas exister.

[2017-09-11 18:57] BAKFR opened #5 "chargement de ressources: créer une fonction générique pour remplacer les multiples `#IFDEF`"
Les morceaux de code du type:
[code]
devarient être remplacé par une fonction:
[code]

[2017-09-11 18:58] milkyroute commented on #5
Merci de l'idée! C'est vrai que ca peut beaucoup réduire les lignes de code inutiles.

[2017-09-11 19:01] BAKFR opened #6 "Renommage des macros"
Certaines macros ont un nom qui n'est pas clair.

Je propose de renommer `QUIT` en `RETURN_ON_CLOSE_EVENT` et `ECHAP` en `RETURN_ON_ECHAP_EVENT`

En plus, ECHAP ne marche que dans un switch. Je propose de changer le comportement pour qu'il prenne l'objet event en paramètre, (plutôt que d'utiliser le mot-clé `case`).

[2017-09-11 19:02] BAKFR opened #7 "Refactoring: créer une fonction de log"
[code]
Plus simple à écrire, moins de risque d'erreurs

[2017-09-11 19:05] BAKFR opened #8 "Refactoring: overworld.cpp"
Les méthodes `up`, `down`, `left` et `right` ont énormément de code en commun. On peut les refactoriser et enlever facilement 100lignes de code.

[2017-09-11 19:16] BAKFR opened #9 "Créer le fichier log s'il n'existe pas"
Au 1er lancement (sous Linux), le programme plante car il n'y a pas de fichiers de log ... mais créé le fichier de log.
Au 2ème lancement, tout va bien puisque le dossier a été créé.

Le programme devrait créer le dossier avant de tester l'ouverture des fichiers de log

[2017-09-11 19:17] BAKFR opened #10 "Bug en cas de nom du héro vide"
Si on appui sur entrée avant de rentrer une lettre à l'écran de choix de nom, on obtiens un nom "buggé".

[2017-09-11 19:21] milkyroute commented on #9
Ah oui, je ne sais pas pourquoi, je l'ai fait sous windows et j'ai oublié sous linux. Je le ferai

[2017-09-11 19:22] milkyroute commented on #10
Je croyais avoir mis un nom par défaut mais apparement ca ne marche pas, je testerai et je verrai comment corriger.

[2017-09-14 17:49] #7 closed, assigned to milkyroute

[2017-09-15 16:21] #9 closed, assigned to milkyroute

[2017-09-15 18:02] BAKFR commented on #10
OK, plus de précision.

Le nom du héros par défaut est "Céchine", dans le code. Sauf que le fichier de code est en utf-8, et que toutes les chaînes de caractères géré par SFML semblent utiliser l'utf-32 (plein de référence à `toUtf32()` dans le code.

Si c'est possible, je suggère d'utiliser exclusivement de l'UTF-8, qui est le standard en terme d'encoding.

[2017-09-16 13:19] milkyroute commented on #10
D'accord, je vais voir pour enlever le bug avec l'accent. Pour le passage en utf-8, je verrai ça plus tard, puisque ça risque de prendre du temps de tout remplacer.

[2017-09-16 14:26] #5 closed, assigned to milkyroute

[2017-09-20 18:28] navet56 opened #12 "Le personnage principal a un mouvement plus saccadé que la 0.12.1"

[2017-10-02 09:45] milkyroute commented on #12
Je ne vois aucun problème. Peux-tu joindre une vidéo?

[2017-10-02 10:35] milkyroute commented on #12
Problème identifié, j'essaye de le résoudre dès que possible.

[2017-10-02 11:05] #12 closed, assigned to milkyroute

[2017-10-02 11:05] milkyroute commented on #12
Problème résolu!

[2017-10-03 16:20] navet56 opened #14 "Bug de sortie du labo"
Lorsque le personnage passe la porte de sortie du labo, le TP se fait au mauvaise endroit (1 case en dessous et 1 case sur le coté droit de trop)

[2017-10-04 06:26] aerzia-git commented on #14
J'ai essayé de rencontrer le même bug mais je ne détecte absolument rien d'étrange, à part que le splash du labo ext. la porte n'est pas au milieu. Je pense que c'est surtout une histoire de graphisme que de code. Faudrait que tu m'en parle plus en détails.

[2017-10-04 10:20] milkyroute commented on #14
Non je confirme ca vient bien du code, il y a juste deux valeurs a changer, mais je n'ai pas le temps en ce moment.

[2017-10-04 10:23] navet56 commented on #14
Oui Aerzia, essaye d'effectier le TP de façon lente, le bug est bien présent, y a juste 1 ligne de code a changé je vais essayer de voir ça cette aprem

[2017-10-05 09:50] #14 closed, assigned to milkyroute

[2017-10-05 14:04] milkyroute commented on #3
C'est fait pour last.html! Je supprime downloads.opmon-game.ga et je ferme l'issue.

[2017-10-05 14:05] #3 closed, assigned to milkyroute

[2017-10-11 13:06] navet56 opened #16 "Ajouter les exectuables DEB et ARCH"

[2017-10-11 13:59] #6 closed, assigned to milkyroute

[2017-10-11 14:03] #2 closed, assigned to milkyroute, navet56

[2017-10-11 14:06] #4 closed, assigned to milkyroute

[2017-10-11 14:28] #10 closed, assigned to milkyroute

[2017-10-12 05:27] #8 closed, assigned to milkyroute

[2017-10-17 11:19] milkyroute commented on #18
On linux, there is a define defining where the resources are (in the execution repertory or in /usr/share/OpMon). You can use it. Or you can edit the code to edit directly the defines defining the resources' path :
RESSOURCE_PATH, LOG_PATH and SAVE_PATH.
Do like you want.

[2017-10-18 16:40] BAKFR opened #20 "On Linux, use XDG basedir spec to set resource, log and save path"
For now, the `logs` and `saves` folders are always created in the current working directory.
The `resources` folder is located either in the current working directory or in `/usr/share/OpMon`; The path is selected by a macro constant in the code.

The behavior is not standard and not effective (macro must be flipped to compile a package version; install in /usr/local/share doesn't works, ...)

The

[2017-10-18 16:50] BAKFR commented on #18
Ready for merge.

The path problem isn't resolved, but has nothing to do with cmake itself (cf #20).

Compilation works on Windows too

[2017-10-28 13:51] navet56 commented on #16
Ça sert a rien en fait, priorité au code

[2017-10-28 13:51] #16 closed, assigned to milkyroute

[2017-10-28 16:13] navet56 opened #23 "Bug d'accents"
Le retour, épisode 7

L'UTF-8 soit n'est pas activer, soit buguer, soit inexistant

[2017-10-31 08:49] #23 closed, assigned to milkyroute

[2017-10-31 10:14] navet56 opened #26 "Add a wait time in front of the door"
Ajouter un temps d'attente devant la porte avant de rentrer dans un batiment, car on a pas le temps de voir l'animation de la porte. De plus, ce n'est apas très realiste avec le système actuel.

[2017-10-31 10:22] navet56 opened #27 "[BUG] On ne peut pas monter les escaliers"
Les escaliers de la maison du personnage principal sont devenus un mur

[2017-10-31 11:26] #27 closed, assigned to milkyroute

[2017-11-06 09:00] sonozaki opened #30 "deb file is not accessible"
The .deb file is not accessible in the downloads section of the web page:

https://github.com/jlppc/OpMon/releases/download/alpha-v0.13/OpMon_0.13-bin.deb

Thanks.

[2017-11-06 10:55] milkyroute commented on #30
Sorry, my fault, I will try to create the deb as soon as possible.

[2017-11-06 10:57] milkyroute commented on #30
You can try to build the game from the source with cmake, while waiting for the deb.

[2017-11-06 11:04] sonozaki commented on #30
I'm trying, but 80% gives me this compilation error:

https://pastebin.com/cqs3xWWc

I do not know if I'm doing something wrong or it's a failure.

Thanks.

[2017-11-06 11:34] navet56 commented on #30
Hi, please click here : https://github.com/jlppc/OpMon/archive/60c9155858449abb7066629e1e95b4993f707442.zip
Extract the repo
Open a terminal in the new OpMon folder
And write this :
./build-and-run.sh

[2017-11-06 11:37] navet56 commented on #30
if it still does not work:
write

sudo apt install gcc libstdc++6 libsmpeg0 libsfml-dev cmake

in a terminal and retry

[2017-11-06 11:41] BAKFR commented on #30
It's because the code use `std::map::try_emplace()`, which is a c++17 feature.
You need to have a more recent c++ compiler.

@jlppc @navet56  maybe we should limit the features we use to c++14 (or c++11) ?

[2017-11-06 11:42] navet56 commented on #30
It is @gberthou who passed the code in c ++ 17, basic it was in 8, I believe.

[2017-11-06 11:44] navet56 commented on #30
That's why I propose @sonozaki to play with a version dating from last week, it should work

[2017-11-06 11:45] sonozaki commented on #30
Thank you very much! Now, it works for me.

Before I did exactly what you told me but with the .zip that I downloaded from the website and then I tried doing a git clone, with both forms I gave an error. Maybe you should change the .zip of the website because it does not compile.

[2017-11-06 11:47] navet56 commented on #30
I know, the actual master branch is broken, We are in the middle of refounding the code.
I'm glad it works anyway

[2017-11-06 12:04] gberthou commented on #30
We could downgrade to c++11 by using `emplace` instead of `try_emplace`, however code would get more verbose (http://en.cppreference.com/w/cpp/container/map/emplace).
This feature of c++17 is supported in GCC 6. @sonozaki I don't know what version of GCC you're running, but regardless of this project it might be a good idea to upgrade GCC to version 6 or more.
@jlppc If required I can modify the c

[2017-11-06 14:40] milkyroute commented on #30
@gberthou I could use macros to define the compiler version and use try_emplace if possible, but if not, just use emplace.

[2017-11-06 17:11] gberthou commented on #30
Using only `emplace` everywhere without using macros would be better than using both `emplace` and `try_emplace` with macros.
So the thing is, do you want to support old compilers without c++17 support (*e.g.*, GCC < 6)?

[2017-11-10 17:06] novia713 opened #31 "force close on changing language to spanish"
1. install the game
2. start new game
3. change language to spanish
4. relaunch the app, and happens a force close (windows warns it will close the app)
if i reinstall the game i can play with it until i change to spanish again. once spanish is changed, the force close appears again :-(

perhaps is because i changed language in the middle of a game?
how can i delete the game and after change the l

[2017-11-10 17:21] navet56 commented on #31
Ok, I just tested, the problem is on all the systems. The bug has been fixed since but we have not released the version yet. I apologize. So either you test the game via sources
Either you wait.
Sorry

[2017-11-10 17:24] navet56 commented on #31
Please click here to play the game again (but in english sorry) :
https://github.com/jlppc/OpMon/releases/download/alpha-v0.13/OpMon-Win_NoInstall.zip

[2017-11-11 10:04] milkyroute commented on #30
The .deb is now avilable on the website!

[2017-11-11 10:04] #30 closed, assigned to gberthou, milkyroute, navet56

[2017-11-15 04:50] IBPX opened #32 "Clarify art licenses"
Hi! It seems some of the art used is incorporated from other projects, but I could not find the appropriate credit anywhere.

For example, [/data/maps/tileset.png](https://raw.githubusercontent.com/jlppc/OpMon/master/data/maps/tileset.png) incorporates "Grass, Sand, Snow" by PastTheFuture, which is licensed as CC BY 4.0, and based on "Kyrodian Legends Overworld Tileset" by Midi. The CC BY license

[2017-11-15 05:17] navet56 commented on #32
thank you for telling this to me, we try to be precise about the licenses, it will be correct in less than 4 hours

[2017-11-15 09:45] navet56 commented on #32
It's fixed, thank you

[2017-11-15 09:45] #32 closed, assigned to nobody

[2017-11-15 09:59] navet56 commented on #16
It's fixed

[2017-11-18 22:53] Chapelier opened #33 "Wrong encoding"
Seems specials caracters don't work very well in Windows. I've seen the same issue fixed, maybe on Linux or another platform ?

![image](https://user-images.githubusercontent.com/30052777/32985371-aba513ea-ccb9-11e7-9602-36d15c05cf95.png)

[2017-11-18 22:57] navet56 commented on #33
It's fiex in master branch, please look the "Releases" section on Github in "Things to know"

[2017-11-18 22:58] #33 closed, assigned to nobody

[2018-01-28 01:29] BAKFR opened #36 "Coding Style"
*This issue is the first of a serie, aiming to improve the code up to a higher standard. Beware @cyrioncentori, the global variables will go through this!*

As mentioned several times on Discord, We need to choose a coding style.
First, we need to specify most of the aspects we'd like to keep consistent, in order to define the coding style. It's OK if there is a few things unspecified, but the les

[2018-01-28 06:51] milkyroute commented on #36
Ok I will anwser using the same model as you :
 - Tab vs spaces: SmartTabs (I think it is a good idea)
 - Spaces between class name and following curly brace: Yes (That is what I want to do since the beginning but I forget to add the space each time a add a curly brace)
 - Spaces between keyword (if, for) and following parenthesis: No
 - Spaces before curly brace on control flow statements (if, fo

[2018-02-02 09:11] sonozaki opened #38 "character locked on start position"
I installed opmon compiling it and generating the .deb in debian 9.
When I play a new game, the character stays locked in the initial position, I can not move anywhere.

Thanks.

[2018-02-02 09:15] sonozaki commented on #38
This is the position where it is blocked:

![captura de pantalla_2018-02-02_10-14-46](https://user-images.githubusercontent.com/27778483/35725526-eede5350-0801-11e8-88e6-455696f73776.png)

[2018-02-02 12:36] navet56 commented on #38
Yes it's normal for now :wink:

[2018-02-02 12:37] navet56 commented on #38
Please wait sunday

[2018-02-03 12:49] navet56 commented on #38
Fixed

[2018-02-03 12:49] #38 closed, assigned to nobody

[2018-02-03 13:50] #31 closed, assigned to milkyroute, navet56

[2018-02-10 13:34] #36 closed, assigned to BAKFR, milkyroute

[2018-02-19 12:17] #20 closed, assigned to BAKFR, milkyroute

[2018-02-21 18:17] ghost opened #39 "Windows 8.1 OpMon v0.14 - Pop up screen doesn't show up"
Here is a link to the youtube video of what happens: https://youtu.be/bl_5Ypc3AZw

[2018-02-22 02:19] ghost commented on #39
//temporary fix: startscenectrl.cpp
if(event.key.code == sf::Keyboard::Return){// && startscene.getPart() == 1) {
                    sf::String &pName = startscene.getpName();
                    if(pName.isEmpty()) {
                        pName = "Player";
                    }
					view.draw(View::frame);
					startscene.delLoop1();
                    _next_gs = new AnimationCtrl(new View::A

[2018-02-23 06:21] milkyroute commented on #39
As I see it, the problem seems coming from the animation. I will check this out this week-end.

[2018-02-24 14:43] navet56 commented on #40
Merci ! IL y a des choses que je vais rechanger mais sinon merci !

[2018-03-21 17:49] ghost commented on #39
The problem seems to be coming from the variable part in StartScene.cpp.

A new branch was created: https://github.com/cyrioncentori/OpMon/tree/fix39

[2018-03-24 14:21] WPFilmmaker opened #41 "Provide a way to verify download file"
A sha256sum or gpg would be nice in order to verify that the downloaded file from opmon-game.ga has not been tampered by a malicious attacker.

[2018-03-24 14:22] WPFilmmaker opened #42 "Https for opmon-game.ga"
At the moment opmon-game.ga does not uses HTTPS (not even for the download page). Switching to HTTPS would provide security for the user and would make the site future-proof (both Firefox and Chrome are enabling tactics to warn users against non secure websites).

[2018-03-24 14:24] WPFilmmaker opened #43 "What is the license of arts in the game? (Question)"
Hi, I have a question about the graphics in the game. They are so good that I can't understand whether they come from a copyrighted game (therefore not free) or if you made them. If you made them compliments! If they are not free I hope they will eventually be replaced by free graphics.

[2018-03-24 16:09] milkyroute commented on #41
sha256 and md5 are avilable on the releases. But I should mention that in the website. Thanks for noticing.

[2018-03-24 16:10] milkyroute commented on #42
I will research how to do this.

[2018-03-24 16:30] navet56 commented on #43
The game art is totally free, please check [here](https://github.com/cyrioncentori/OpMon/blob/master/Resources/README.md) for more informations

[2018-03-24 16:30] #43 closed, assigned to nobody

[2018-03-24 16:32] WPFilmmaker commented on #41
@cyrioncentori Thanks a lot! It would be great having them on the website (similarly to how The Secret Chronicles of Dr. M. does).

[2018-03-24 16:32] WPFilmmaker commented on #42
Thanks!

[2018-03-24 16:35] navet56 commented on #42
Thanks for taking an interest in the project anyway ! :+1:

[2018-03-24 17:56] WPFilmmaker commented on #42
You are welcome! I am testing the game I will definitively report feedbacks n the future ;)

[2018-03-25 12:05] navet56 commented on #42
That's nice of you !

[2018-03-27 19:02] navet56 commented on #41
Done ✓

[2018-03-27 19:02] #41 closed, assigned to nobody

[2018-03-28 09:55] navet56 commented on #42
https://www.ovh.com/fr/ssl-gateway/

[2018-03-29 13:22] milkyroute commented on #42
@WPFilmmaker Done!

[2018-03-29 13:22] #42 closed, assigned to nobody

[2018-04-01 07:23] milkyroute commented on #44
Thank you, I merge!

[2018-04-08 10:25] navet56 commented on #26
Et egalement un fondu rapide au noir pour pallier au bug de "l'écran bleu"

[2018-05-02 18:13] GReaperEx opened #45 "Volume control"
I know this game is far from finished but I think volume control should be added as soon as possible. It's not always convenient to lower the whole system's volume in order not to have the game play at eardrum-tearing levels.

As it stands now, the volume slider is only visual and does nothing, unless I'm missing something.

[2018-05-02 18:37] milkyroute commented on #45
Thanks for helping, even if the feature is planned. And yes, for now, the volume slider is only visual, but the volume function is programmed. The only things left is to make the volume editable, because right now it is a constant, and make the slider functional. I will work on it when I will work on it when the issue #39 will be solved, after the work on the battle. However, I will try to add a w

[2018-05-02 19:16] navet56 commented on #45
You can see what we have planned to add for the next version here https://github.com/OpMonTeam/OpMon/projects/3

[2018-05-09 03:42] GReaperEx commented on #39
Does the bug still persist? I'm asking because there's no such problem when I compile the game from source in Ubuntu. If it does, maybe it's some form of undefined or implementation-defined behaviour that's only present with Windows 8.1

For example, I have noticed that SDL handles key-presses slightly differently in Windows vs Linux, by always sending key-ups immediately after key-downs for many

[2018-05-09 06:04] Samurai413x commented on #45
I have a partial, placeholder fix for this if you're interested.  It doesn't affect the sounds, only the music, and you can only lower the volume to 1, not all the way to 0.  Also, the slider UI element does not change.  But it still gets the job done!

Let me know if you want me to submit a PR for this fix.  I have some ideas for a more robust implementation, but I need to think through them a bi

[2018-05-09 06:17] milkyroute commented on #45
Thank you very much, but I have already a solution to control the global volume (src/opmon/view/Jukebox.[ch]pp), I just need to make it editable by the user. However, if you think your system is better, feel free to submit a pull request !

[2018-05-09 06:55] GReaperEx commented on #45
The sound effects are scattered all throughout the source, it won't be easy to control their volume...
I suggest a redesign, where all sounds are loaded inside a static class (or namespace, for that matter) that can control volume, among other things. Say, "SoundCtrl" for sound effects and "MusicCtrl" for music, if you want to keep them separate. Then they would just return references to the sound

[2018-05-09 06:58] milkyroute commented on #45
I have already that : [Jukebox.hpp](https://github.com/OpMonTeam/OpMon/blob/master/src/opmon/view/Jukebox.hpp) | [Jukebox.cpp](https://github.com/OpMonTeam/OpMon/blob/master/src/opmon/view/Jukebox.cpp)
But it's only for the musics, I should add the sounds too.

[2018-05-09 14:21] navet56 commented on #39
This bug is specific to some Windows PCs, and yes the problem probably comes from SFML but can maybe be adjusted by changing the code, we'll be looking into the problem soon.

[2018-05-09 22:31] navet56 opened #46 "Crash at the exit of the OpCenter"
"core dumped"

[2018-05-10 02:40] GReaperEx commented on #46
I'm sorry but unless you tell us what you did before exiting the OpCenter, we won't be able to reproduce it. Simply entering and exiting doesn't crash.
( Btw, by "OpCenter" I assumed you meant the Lab, because there is no OpCenter )

[2018-05-10 06:06] Samurai413x commented on #45
Yep! This is what I used.  Basically pressing left / right arrow on the Music row of the Option menu changes that global volume inside Jukebox.  I'll submit a PR so you can see what I mean.

[2018-05-10 06:26] milkyroute commented on #45
Oh, thank you! I am very intrested in your pull request.

[2018-05-10 07:34] GReaperEx opened #47 "Configuration file"
I'm searching through the directories but I can't find any config file, for example one which would define default values for window size, volume, vsync, fullscreen and others. That could potentially be changed by the player while in the options screen (or manually) and saved for the next time they open the game.

So, for example, if I wanted my game to always open with 25% volume, at fullscreen a

[2018-05-10 07:39] milkyroute commented on #47
There is one, depending on your location. On windows, it is quite simple to find : it is in the game's repertory. On Linux, it is normally located in ~/.config/OpMon/saves/optSave.oparams. Here is the list of the options currently created :
- Game base controls
- Language
- Fullscreen

[2018-05-10 08:04] GReaperEx commented on #47
Yes, found it. Sorry about that, I should be more observant.

[2018-05-10 08:05] #47 closed, assigned to nobody

[2018-05-10 08:10] GReaperEx commented on #46
Can you show us the errLog.txt and log.txt files? Maybe there's something there that'll help us figure out what went wrong.

[2018-05-10 08:13] milkyroute commented on #46
The OpCenter is not the laboratory, but an equivalent to the Pokemon Center in "Mysterious City" (A lavender-town like city, it's a test city, hidden from the rest of the game). You can access it in the debug mode by pressing F8.

[2018-05-10 08:15] #46 closed, assigned to nobody

[2018-05-13 12:48] GReaperEx opened #49 "Windmill clipping"
I noticed that if you stand in front of the windmill and move left and right, the darker, leftmost part of the base is clipping in front of the character's head.

[2018-05-13 14:01] navet56 commented on #49
Thank you for reporting this bug, I correct it as quickly as possible

[2018-05-14 14:12] #49 closed, assigned to navet56

[2018-06-08 12:17] jubalh opened #52 "Weird behaviour"
I just installed opmon and get a very wird behaviour which might be a problem on my side. But I think I will need your help to track it down.

I launch opmon in a terminal and I get:
[code]
No window is displayed. Program exits.

Funny enough I have another terminal instance open in which case it launches opmon when I type the name.

For both  I get:
[code]

So it's the same executable.
When start

[2018-06-08 12:37] jubalh commented on #52
[code]

Keys are installed in that location.

[2018-06-08 12:37] navet56 commented on #52
How did you install the game? Normally this is not where the data is installed

[2018-06-08 12:41] jubalh commented on #52
I'm packaging the game right now as an rpm for openSUSE.
AFAIK this is where it should be installed.

I'm using the openSUSE Cmake macro.
Which expands to:
[code]

Thus setting the prefix to /usr

[2018-06-08 12:43] jubalh commented on #52
Ok, I understand now why it works in that one terminal.
It's the instance where I am in the checked out git repo ;)
So it just takes the resources relative to pwd.

I think opmon needs to be patched to look for the location in the official places (/usr/local/share and /usr/share). It would be best if one could use the value that was given to it via CMake. Not sure if or how that is possible.

[2018-06-08 12:45] jubalh commented on #52
Shouldnt https://github.com/OpMonTeam/OpMon/blob/master/src/utils/path.cpp#L92 do this?

BTW I'm using the 0.14 release tarball. But according to git blame it already contains this.

[2018-06-08 12:55] jubalh commented on #52
Okay give me a minute, I might be on it ;)

[2018-06-08 13:14] jubalh commented on #52
Solved it :)

[2018-06-08 15:04] #52 closed, assigned to nobody

[2018-06-08 15:28] jubalh opened #56 "openSUSE package"
I created an rpm package for openSUSE.

I would like to note it down somewhere in your repo so that users can easily find out about it and install it.

So far it seems you uploaded an Arch PKGBUILD to the releases.

Do you think an `INSTALL.md` file would be a good thing? And describing various installation methods and links to available packages there?

[2018-06-08 15:45] navet56 commented on #56
Wow thank you very much for creating this package! We wanted one but no one used this distribution. And of course, there are all the installation instructions in the wiki : https://github.com/OpMonTeam/OpMon/wiki/Compilation
Anyway thank you very much for everything you do for the game

[2018-06-08 18:45] navet56 commented on #56
So, put the instructions to create an openSuse package here, and the compiled file in the wiki if you can, either by email: evandib@gmail.com

[2018-06-08 19:05] jubalh commented on #56
Ok. openSUSE users can add my private repo and install OpMon like this:

[code]

The rpms can currently be downloaded here: https://build.opensuse.org/package/binaries/home:jubalh/opmon/openSUSE_Leap_15.0

Here you can see recipe for building the rpm: https://build.opensuse.org/package/show/home:jubalh/opmon

However I plan to push OpMan into the openSUSE games devel project, it is more official t

[2018-06-09 08:46] milkyroute commented on #39
@rjphares Can you try to compile the game now ? Is the bug still here ?

[2018-06-09 09:14] navet56 commented on #56
Thanks for your help, an openSUSE section has been added in the Compilation page on the wiki : https://github.com/OpMonTeam/OpMon/wiki/Compilation#opensuse-installation

[2018-06-09 09:14] #56 closed, assigned to milkyroute, navet56

[2018-06-09 09:57] jubalh commented on #56
Great :)

[2018-06-09 12:23] ghost commented on #39
After a couple compilation errors (similar to the build before the last build - had to make adjustments to WINMAIN and commented out OpMon version) I was able to compile successfully.

Here are the log errors:
[T = 312] - Error  nÂ°1 : Failed to load music: audio/music/wildbattle.ogg
[T = 1290] - Error  nÂ°2 : Failed to load resource: backgrounds/dialog/battle_dialog.png
[T = 1297] - Error  nÂ°3 :

[2018-06-10 09:31] milkyroute commented on #39
This problem comes from the resources, your "data" repertory is too old. I think you forgot to update it.

[2018-06-10 12:15] ghost commented on #39
I feel stupid. Should have known better. But it works now. Thank you.

[2018-06-10 12:15] #39 closed, assigned to BAKFR, gberthou, milkyroute, navet56

[2018-06-10 16:47] jubalh commented on #56
OpMon got accepted into the `games` devel repo. I adjusted the wiki page at https://github.com/OpMonTeam/OpMon/wiki/Compilation#opensuse-installation

[2018-06-10 17:03] navet56 commented on #56
Really cool ! Thank you

[2018-07-01 09:26] milkyroute commented on #45
Issue fixed in glob_vars branch. I will close it when it will be merged with master.

[2018-07-21 08:33] #45 closed, assigned to milkyroute

[2018-08-16 19:14] navet56 opened #72 "Bug during dialog with Beta, the battle created a crash"
If you take your time to talk with Beta, the battle will crash

[2018-08-16 19:16] navet56 opened #73 "|Bug] the character shifts a few pixels that corrupts collisions"
The character shifts a few pixels that corrupts collisions
This bug is more common on Windows but I managed to do it on Linux too.

[2018-10-19 09:21] milkyroute commented on #73
Issue solved !

[2018-10-19 09:21] #73 closed, assigned to BAKFR, milkyroute

[2018-10-19 09:24] milkyroute opened #74 "NPC's movement bug"
While being in the NPC's way, the collision doesn't activate, and the NPC's movement is completely out of sync.

[2018-10-19 10:00] #74 closed, assigned to milkyroute

[2018-10-23 11:19] #72 closed, assigned to BAKFR, milkyroute

[2018-11-06 09:02] jubalh opened #80 "Mentioning openSUSE"
Hello!
It would be super cool that when you create a new release and mention how to install it on different distrubtions that you could also mention the openSUSE distro. We have an always up to date package at: https://build.opensuse.org/package/show/games/opmon :-)

[2018-11-06 09:05] milkyroute commented on #80
Oh ! Sorry, we have forgotten ! One of us will do as soon as possible.

[2018-11-06 09:09] jubalh commented on #80
No problem :) Just for the future

[2018-11-06 13:48] milkyroute commented on #80
Done !

[2018-11-06 13:48] #80 closed, assigned to nobody

[2018-11-06 14:58] jubalh commented on #80
Thanks!

[2018-12-19 20:06] milkyroute commented on #26
This issue has been open for much too long; I close it, and when I'll begin to work on it, I'll reopen it.

[2018-12-19 20:06] #26 closed, assigned to milkyroute

[2019-04-16 13:32] speicherwerk opened #94 "When will the mac version be released?"

[2019-04-16 13:45] milkyroute commented on #94
Since neither me or @navet56 have a mac, we can't compile the game on it right now. So, right now, the only thing you can do is to build the game yourself. If you can do it, you can execute <code>cmake --build . --target package --config Release</code> to create a mac package, and then give it to us. With this, we could release the mac version.
I must admit, we kind of forgot the mac version, so I

[2019-05-08 14:06] milkyroute commented on #94
A development Mac version has been released on the website (https://opmon-game.ga/downloads.html).
We'll try to do it quicker for the next version.

[2019-05-08 14:06] #94 closed, assigned to milkyroute

[2019-05-19 19:34] PyroFlareX opened #95 "Enhancement: Create a tool for the creation of OpMon"
I was looking through the project, and there weren't any resources for existing OpMon besides a JSON that didn't really have the names. Are there any current resources or example sheets for the creation of OpMon? If not, a simple (even a commandline) tool that exports an OpMon JSON based on given info. I'd make one, but can't seem to find any info on what the format is.

If it hasn't been done alr

[2019-05-19 23:43] PyroFlareX opened #96 "Enhancement: Isolate Engine from Game"
To futureproof the work the has been done, I believe it would be wise to isolate the engine and the game. The engine has all the game logic and loaders, while the game would be the assets, maps, OpMon, text boxes, etc. The Engine would load a folder which is where the game assets would be placed in a standardized format.
EX: File Structure
----RootFolder
 --- / -------- \
Engine------ Game
--- | -

[2019-05-20 18:44] milkyroute commented on #95
There is a complete guide about creating OpMons here in the wiki: https://github.com/OpMonTeam/OpMon/wiki/How-to-create-an-OpMon
However, the JSON format is not explained very well so I will try to make a guide as soon as possible. OpMon is currently on hiatus but I should have at least the time to create a guide explaining how the JSON works in the week, probably Wednesday. Thanks for noticing th

[2019-05-20 18:47] milkyroute commented on #96
It's a great idea I approve! However since I don't want to delay the 0.16, I will do it after releasing this version.

[2019-05-21 01:34] PyroFlareX commented on #96
When I get time to understand the code base, I'll send in a few PR's to start on this. Also, a format for data types needs to be planned out.

[2019-05-21 17:18] PyroFlareX opened #98 "Compiling Instructions and Errors to fix."
The compiling instructions for Windows needs a fix. I have tried both Visual Studio and Code::Blocks, and both have not been successful. Some things I found while troubleshooting:

- Visual Studio instructions not working

- Code::Blocks (for Windows) had to remove a bunch of the SFML related defines to avoid errors

- SFML stuff is out of date, I am using the latest version (2.5.1) and all of the

[2019-05-21 22:32] PyroFlareX opened #99 "Organize the Repository"
If this would be possible, can the repository be a bit better organized?

For example, have versions be milestones rather than projects. Have projects be big TODO features, such as battle system, engine improvements. Also, having so many tags kinda clutters up the issues and makes them hard to sort. Just having "Enhancements", "Bugs", and "Next Version" are fine.

I believe that organizing the rep

[2019-05-21 23:40] PyroFlareX opened #100 "Enhancement: Change Font to a Pixelated one"
[lcd-solid_lcd-solid.zip](https://github.com/OpMonTeam/OpMon/files/3204944/lcd-solid_lcd-solid.zip)

I recommend this one ^

[2019-05-22 00:08] PyroFlareX opened #101 "Enhancement: Camera centered on player"
Always have the player character at the center of the screen if possible. Exceptions being when you deem it to be.

[2019-05-22 00:11] PyroFlareX opened #102 "Fix Camera View Port on Resize"
Allow the window to be resized and just viewport accordingly.

https://www.sfml-dev.org/tutorials/2.5/graphics-view.php

[2019-05-22 03:01] PyroFlareX commented on #95
I started to build the tool here:
https://github.com/PyroFlareX/OpMon-Creation-Tool

[2019-05-22 11:30] milkyroute commented on #98
I really don't know what all those errors are, since I have not used Code::Blocks for a while. And I don't have those build errors when I do it myself on linux with CMake. I will try to check this this week-end, if I have the time.
I have never used Visual Studio, the instructions have not been made by me, but by @Samurai413x. Maybe he can help you?
As for config.hpp, it's a CMake-related file. Wh

[2019-05-22 11:36] milkyroute commented on #99
The versions already are milestones, we use both. Milestones for Issues and Pull Requests, and projects for being clear on what we have to do to release the version. I must be honest: I have difficulties to create a project for big TODO features because I just kind of "jump" in it without really knowing how I have to do, then I do my thing and clean up the code after it.
For the labels, I will sor

[2019-05-22 11:36] #99 closed, assigned to milkyroute

[2019-05-22 11:45] milkyroute commented on #100
We will think about it, thanks you! Just, is it copyright free?

[2019-05-22 11:54] milkyroute commented on #101
It has been the case some time ago. However, we changed for many reasons, one of them being that we had to create large maps with unaccessible places to hide black from the player. If you have some arguments to give, we will listen to them joyfully, but for now I don't think we will change the camera for now. Thank you anyway! I'm leaving this issue open for a while if you want to give some reason

[2019-05-22 13:20] milkyroute commented on #95
Oh, thank you! Meanwhile, I've done a little guide about the OpMon JSON format. I will add other formats guides, but for now, this is enough I think : https://github.com/OpMonTeam/OpMon/wiki/JSON-guide

[2019-05-22 23:16] PyroFlareX commented on #100
It's public domain :P

[2019-05-23 22:20] PyroFlareX commented on #101
I agree with your above reasons, but for the areas you want to hide, just make it so the camera doesn't move into those areas. That way, it is the best of both.

[2019-05-23 22:22] PyroFlareX commented on #98
Tried it on a linux install. It works there, but still, universal build ability is important to attempt.

[2019-05-24 03:54] PyroFlareX commented on #102
Added resize support, but screen only stretches for now. Likely needs the sf::RenderTexture to be removed in favor of drawing directly to the window. Resizing via views will then hopefully be a trivial matter.

[2019-05-24 05:48] milkyroute commented on #101
Isn't it already the case? The camera doesn't move into black areas, because it stops at the edge of the map. Except for the indoor maps, but it's normal, it's already the case in Pokemon. Or I misunderstood what you meant?
**Edit :** It isn't, after all. We will think about it, but I don't think it's a bad idea.

[2019-05-28 22:29] PyroFlareX commented on #101
Like you said above, the camera doesn't center on the player. Instead the player has a weird space that can be described by testing. Maybe having the camera move with the player, but has collision detection at the edges, and tries to recenter on the player? That could work for implementation.

[2019-05-31 08:21] milkyroute commented on #102
Just copying something from the Discord since I think it's useful to put it here :
I know it is possible to extend the view, but I don't think I want to extend the player's view area on the map, because it means that with a large screen you can see parts or the map which can be normally inaccessible, or that I want to hide for now, because it will be shown in a further point in the story. We will

[2019-05-31 08:27] milkyroute commented on #101
I will do a poll on the Discord server to know what people prefer, and then I will change it for the 0.17 if they want it.
Edit : The Discord server choose to change the camera.

[2019-05-31 09:11] JonnyPtn commented on #98
There aren't really any errors with the code (just the minor ones I fixed in #105), I think the main issue here is that the instructions are outdated. They should really advise using cmake like on other platforms

[2019-05-31 09:14] milkyroute commented on #98
I'm leaving this issue open until I update the instructions. Thanks you for the pull request !

[2019-05-31 21:39] milkyroute commented on #98
Compilation instructions are now updated.
https://github.com/OpMonTeam/OpMon/wiki/Compilation

[2019-05-31 21:39] #98 closed, assigned to milkyroute

[2019-08-06 15:13] navet56 commented on #100
It's done !

[2019-08-06 15:13] #100 closed, assigned to milkyroute, navet56

[2019-09-05 13:30] Srykah opened #111 "Fix screen tearing"
I have felt quite a large amount of screen tearing when I played the game, especially when moving up or down in the world map. Screen tearing is usually removed by enbling VSync, but as I saw it in the code, a fixed frame frequency of 30 fps is used for rendering as well as for computing game objects' speeds. I think you should dissociate the game update logic and the rendering, so to let users ch

[2019-09-05 15:41] #102 closed, assigned to PyroFlareX

[2019-09-05 15:53] milkyroute commented on #111
I agree with you, this system is a mistake I've done quite a long time ago. I should change it as you say, but I always delay it. So I think I will do it for the 0.17, but I promise nothing. Except if somebody want to do it before.

[2019-09-22 11:01] Srykah commented on #111
I can do it as soon as I am over cleaning up the rest of the code ^^

[2019-09-22 11:06] Srykah opened #112 "Avoid global variables when possible"
I see that this code relies heavily on global variables, and to a lesser extent object-global variables. It hinders readability quite a lot, and opens the door to subtle bugs down the road. I am currently cleaning up parts of the code, so I'll do what I can to removve those I find during my refactoring but a large-scale operation seems necessary

[2019-09-22 11:10] Srykah commented on #95
This tool probably should be a new repository of the OpMonTeam account, don't you think ? A fork would be enough ^^

[2019-09-22 11:12] Srykah commented on #95
Btw, I think it would be advised to do the user interface in Qt, as it will be more native for end-users and considerably speed up the coding process as well

[2019-09-22 11:42] milkyroute commented on #112
It may be a good idea to do it in the same time as the separation of the engine from the game (#96)

[2019-09-22 11:46] milkyroute opened #113 "Change how the animations are stored"
Currently, it's one frame by file. In the future, it would be great to have one file for all the frames.

- [x] Done for the events
- [ ] Done for the animated elements on maps

[2019-09-22 11:50] milkyroute opened #114 "Add a confirmation before quitting the game"
This functionality would prevent people pressing escape and closing the game by mistake. But it's also a pretext to create a dialog box system in the game, which would be useful also for asking other kinds of confirmations.

[2019-09-22 12:06] milkyroute commented on #95
I agree about Qt, I've already used it in the past for personal projects. However, I don't know anything about the Qt license, and if it's compatible with the GPL 3.0. And I've forked the repository, but I won't have to time to personally contribute to it.
@PyroFlareX : What do you think about it? Do you prefer being a collaborator in a repo in OpMonTeam or keeping you repo and OpMonTeam having a

[2019-09-22 12:22] Srykah commented on #113
Gaining inspiration from the sources of the [SFML Game Development Book](https://github.com/SFML/SFML-Game-Development-Book/blob/master/08_Graphics/Source/Animation.cpp), we should be able to handle this issue pretty quickly ^^

[2019-09-22 12:25] Srykah commented on #114
Do you want to create the whole system by yourself or are you ok with using some existing system ? On the official SFML forums, two GUI modules are pretty active : [TGUI](https://tgui.eu/) and [SFGUI](https://github.com/TankOs/SFGUI), maybe one of them will be what you're looking for !

[2019-09-22 12:38] Srykah commented on #95
Qt has two licences : a proprietary one and a (L)GPL v3. So it is possible to do open-source projects based on Qt.

As for @PyroFlareX , maybe put him administrator of the fork, so he can manage it from the OpMon Team's group directly ?

[2019-09-22 12:41] milkyroute commented on #95
That's what I've done, I invited him to the @OpMonTeam/opmon-creation-tool team, so he can have admin permissions on the fork. And ok for Qt!

[2019-09-22 13:28] Srykah opened #115 "Tools for non-programmers"
This project could use some external tools to facilitate contribution from non-programmers (or just people who want to avoid dealing with JSON 😝). They will probably require a new repository each, but before we do that we probably should discuss them all here ^^

I think we need tools for creating :
* OpMons (already discussed in #95 )
* Attacks
* Maps
* Trainer battles
* Cutscenes / NPC dialogues

[2019-09-22 14:19] Srykah opened #116 "Documentation"
The documentation is lacking or outdated in a lot of areas ; a lot of spelling errors and bad translations are also present. I open this issue to break the problem in smaller tasks so we can see how we progress (plus ticking checkmarks is quite enjoyable don't you think ? ^^)

Some items are already done and up-to-date, and I have probably forgotten a bunch of things too. Please correct me below (

[2019-09-22 14:24] milkyroute commented on #116
I totally agree, thank you for having took the time to summarize everything. I think this is what I will focus on for now, because it's a big problem since the very beginning of the development.

[2019-09-22 14:25] milkyroute commented on #114
I'll check them when I'll have the time!

[2019-09-22 16:26] Srykah opened #117 "JSON subdivision"
JSON files each contain all their respective data (for example, the JSON file for the attacks contains ALL the attacks in the game) ; they should be broken into one file per data item (so, in an `attacks` folder, have a different JSON file for each attack and so on)

This will help readability, ease of contributing and loading times if we ever want to multithread it one day ^^

[2019-09-22 16:46] Srykah opened #118 "Modern CMake"
Several CMake files and commands feature strongly discouraged uses of CMake : for example, [in-source builds](https://cgold.readthedocs.io/en/latest/tutorials/out-of-source.html) and [GLOB variables for listing sources](https://cmake.org/cmake/help/latest/command/file.html#filesystem).

We should update CMake's usage to modern CMake where possible (for example following [those guidelines](https://

[2019-09-22 16:55] milkyroute commented on #118
It would be great, but I have really few notions of CMake, everything has been done by @BAKFR. I think it's better to see this with him, if he's still available. Otherwise, I'm sorry but I won't be able to help a lot on this.

[2019-09-23 19:42] Srykah opened #119 "Remove the data folder from this repo"
I see we have a separate repository containing all the game's data, which is a good thing. However, there is still a data folder on this repository as well ; we should remove it, and change the scripts so they can download it from the appropriate source.

[2019-09-23 19:49] milkyroute commented on #119
I moved the Resources folder because it was the annex resources, but the data folder is directly used by the program (and by the cmake installer and packager). I don't really see the point of moving it, I must admit.

[2019-09-23 20:12] Srykah commented on #113
@rjphares if you're looking for something simple as a start, this could be it ^^

[2019-09-23 20:24] Srykah commented on #119
The main problem is that Git is pretty bad at handling binary files, and changes to them can quickly bloat an archive. Git LFS (Large File Support) is supposed to mitigate that but I don't think it's enabled here. I can try to activate it if you want.

[2019-09-23 21:33] Srykah commented on #119
Ok, so I looked into it, and GitHub only provides 1 GB of free LFS storage. Since every modification of a file means the whole file is stored again, we will hit the limit pretty soon.

I have scoured the internet for an answer, and it seems people resort to using cloud services like Dropbox or Google Drive. If we want free hosting (as in freedom) we'll have to either find some free hosting service

[2019-09-24 15:03] milkyroute commented on #119
Pulling is already horrendously long, though ^^' And the website doesn't use a dedicated server, I only use github pages in the OpMon-Website repository.
So yes, maybe I should move the data folder to OpMon-Data, but there should be something to download the folder when you want to execute the game for example.

[2019-09-27 08:29] martinlehoux opened #120 "Build error on Mac OS X"
**Steps to reproduce**
OS: macOS Mojave 10.14.6 (18G95) (Le MacBook Pro (Retina, 13 pouces, mi-2014))
[code]
**Error**
`make package`
[code]
`ls -la`
`root      staff  23688 27 sep 09:50 install_manifest.txt`
This file seems to have wrong permissions

[2019-09-27 08:31] martinlehoux commented on #120
**Solution**
Changing ownership back to my user worked fine

[2019-09-29 11:18] milkyroute commented on #120
I've checked permissions on Linux and I have not seen any problem. For now, I'll consider this is as an isolated case, but if something similar happens, don't hesitate to comment here so I will reopen the issue.

[2019-09-29 11:18] #120 closed, assigned to nobody

[2019-11-10 14:16] olivier-grech commented on #119
Have you thought about using git submodules?

[2019-11-10 15:54] Srykah commented on #119
Well, there is already a OpMon-Data repository, which should be fine for JSON files, but we need something else for binary files (graphics, music etc.) because they don't work well with Git

[2019-11-23 05:23] TelloViz opened #127 "Doors sounds only work one direction"
Doors activate sound upon entering a building but not upon leaving.

I'm new around here so let me know if I submitted this wrong :)

[2019-11-23 05:30] TelloViz opened #128 "Screen Transition Hitbox Issue"
I ventured a ways out of the first town. I talked to a guy about guitar and fences. Then trying to go to the right to the next screen. It seems that the screen transitions too soon.
![OpMonTransition](https://user-images.githubusercontent.com/2664449/69473945-38945e80-0d6f-11ea-9c9c-7ea88150edaa.gif)
![image](https://user-images.githubusercontent.com/2664449/69474166-78107a00-0d72-11ea-881d-35fd50

[2019-11-23 05:44] TelloViz commented on #128
#129 And one more thing on this topic. When you leave the first area out the path to the right. You cannot turn around and go back to the first town unless you move to the right out of the initial column of tiles where you start.

![OpMonNoEntry](https://user-images.githubusercontent.com/2664449/69474171-8b234a00-0d72-11ea-97b6-073afdb629b7.gif)

[2019-11-23 11:37] milkyroute commented on #127
In fact, it's only something the game doesn't do because we haven't programmed it. This is quite minor yet, so I won't fix this soon, but I keep it because it has to be done.

[2019-11-23 11:39] milkyroute commented on #128
Thank you, I'll fix this soon, it's only some oversights.

[2019-11-23 19:50] TelloViz commented on #127
So I found the door event code where it is given an entrance sound on creation. Would there simply need to be an exit sound? Or does entering a house count as a different map, therefore all doors in the house would also just have entrance sounds and no additional exit sound code would be needed ? Does this make sense?

[2019-11-24 17:58] milkyroute commented on #127
We've planned to do an more complex animation for entering and living houses. Right now, there's no animation at all, the event is not even counted as a door. What the event should do is to teleport the player on the opened door on the outdoor map and then making the character move forward by one tile while the door is closing behind. So, for this, a new event type would have to be created. As you

[2019-11-24 23:36] TelloViz commented on #117
This goes along with what I was thinking about the map.json file.

- One map per file

- A table of contents sort of file containing a list of maps (I'm not sure how JSON works..?)

[2019-11-26 15:19] Srykah commented on #117
With the help of `std::filesystem` we don't even need a table of contents ^^

[2019-11-26 15:44] TelloViz opened #131 "Decouple and Generalize Event System"
There is some diamond inheritance in the Event system and it is just generally quite coupled. It would be beneficial to clean that up and get everything a little more generalized.

It is generally recommended to prefer composition over multiple inheritance.
![diamond](https://user-images.githubusercontent.com/2664449/69648598-7f5caf80-1020-11ea-8e2c-8429b8e753d9.png)

[2019-11-26 15:47] TelloViz commented on #131
I think @ShadowApex and the fellas over at Tuxemon are onto a good thing with their event system

![image](https://user-images.githubusercontent.com/2664449/69648726-adda8a80-1020-11ea-9d73-b9bac3cc1ca5.png)

[2019-11-27 19:27] TelloViz commented on #127
I think this issue is contingent on #131 so I just want to reference it here.

[2019-11-27 19:33] #128 closed, assigned to TelloViz

[2020-01-19 12:31] milkyroute opened #138 "List the assets to load + tilesets in json"
I thought it would be interesting to have a list of assets to load in json instead of having them directly written in the code. That would allow more additions only with the json files (For example, we could directly add a new NPC with textures and everything simply with json).

[2020-02-01 17:10] milkyroute commented on #138
Extended the issue to tilesets too. Adding a multiple tileset system will be required.

[2020-02-04 09:59] olivier-grech opened #145 "Issue with the "ç" character"
On the language selection screen, "_Français_" is mispelled as "_Francais_". This is because the "_ç_" character renders as gibberish for an unknown reason.

This is weird because the font (https://www.dafont.com/pixel-arial-11.font) should supports it, and there was no issue with the "_ñ_" character.

I'll try to post a screenshot later on.

[2020-02-04 15:30] olivier-grech opened #146 "Warnings at compilation"
There's a lot of warnings at compilation time. See the **Run Make** step here for example: https://github.com/OpMonTeam/OpMon/pull/144/checks?check_run_id=423893229

Most of them could easily be resolved.

[2020-02-04 21:04] olivier-grech commented on #146
See PR https://github.com/OpMonTeam/OpMon/pull/147.

[2020-02-05 20:16] #146 closed, assigned to olivier-grech

[2020-02-09 19:56] milkyroute commented on #96
As said in the pull request #148, I won't completely isolate the engine from the game, but I've separated the abstract objects from the concrete ones. The tools have also been separated from the objects.

[2020-02-13 18:48] milkyroute opened #150 "Replace handleError calls by exceptions"
We should delete the handleError function and use exceptions to handle errors in the game. It would be useful to do different actions according to what the error is and to liberate the resources even after the game crashes.

[2020-02-14 14:01] olivier-grech commented on #145
We probably won't stick with that font, so I suggest closing this issue.

[2020-02-14 15:07] milkyroute commented on #145
I'm closing it, it will be reopened if the problem is still here whatever the font is.

[2020-02-14 15:07] #145 closed, assigned to milkyroute

[2020-02-15 20:18] milkyroute opened #151 "Fix "include spaghettis""
We need to fix this kind of things.
![Pasta](https://opmon-game.ga/pages/doc/d2/dbf/OpMon_8hpp__dep__incl.png)

Note : There is still some mess in the includes, but a lot less so this issue will be closed for now.

[2020-02-18 09:36] olivier-grech opened #152 "Line size calculation should be done with the actual text width and not the number of characters"
Currently, when generating new lines of dialogue from a string, there is a width limit based on the number of characters.

Obviously some characters such as "W" or "I" have different widths. Therefore, I suggest we do our calculations based on the actual width of the string when represented as a `sf::Text` and not on the number of characters.

[2020-02-18 09:39] olivier-grech opened #153 "Use two lines of dialogues instead of three"
Ideally, a single variable `NUMBER_OF_LINES` could be changed to automatically change the number of displayed lines.

[2020-02-18 09:40] olivier-grech opened #154 "Dialogue box should automatically fit the screen size and resolution"

[2020-02-20 07:35] #153 closed, assigned to olivier-grech

[2020-02-20 07:35] #152 closed, assigned to olivier-grech

[2020-02-25 07:54] olivier-grech commented on #154
Oh hey actually this was done. The dialogue box is always the same size, but it's always on the center of the screen.

[2020-02-25 07:54] #154 closed, assigned to olivier-grech

[2020-02-25 10:04] #96 closed, assigned to milkyroute

[2020-02-25 10:04] #112 closed, assigned to milkyroute

[2020-02-25 10:04] #151 closed, assigned to milkyroute

[2020-03-17 20:54] #150 closed, assigned to milkyroute

[2020-04-19 13:41] #131 closed, assigned to milkyroute

[2020-05-09 15:44] #138 closed, assigned to nobody

[2020-05-09 15:45] #119 closed, assigned to Srykah

[2020-05-09 15:47] milkyroute commented on #117
I fixed this with #164 for the maps, we'll see if we split other things but it won't be a problem in the code so I consider this issue fixed.

[2020-05-09 15:47] #117 closed, assigned to nobody

[2020-05-26 14:13] olivier-grech opened #168 "Centralize design decisions"
I have a hard time finding information on the design of the game.

Beside [this wiki page](https://github.com/OpMonTeam/OpMon/wiki/Commonalities-and-differences-with-Pokemon), I feel like the documentation on what the game actually is supposed to be (beside the very broad goal of being a Pokémon clone) is either non-existing or very well hidden.

In my opinion, the first step should be to have a s

[2020-05-26 16:47] ghost commented on #168
I absolutely agree. The design document could be hosted on the wiki in a prominent place and progress could be tracked with [projects](https://github.com/OpMonTeam/OpMon/projects).

At the moment, the code needs _a lot_ of cleanup as well. For one, it won't compile with MSVC in the state it's in. The existing CMake file implies Linux, Mac, and Windows as the targeted platforms. That could probably

[2020-05-27 20:03] milkyroute commented on #168
For now, my top priority is to cleanup the code (which we've been doing for some months already). However, I'll try to detail this at the same time. To be honest, we haven't any precise plans for towns, NPCs and stuff like this, we only have a skeleton for the history, region and gameplay.
I think we should discuss this on Discord since there is a lot of decisions to take, and some others that we

[2020-07-02 08:02] navet56 commented on #95
Done